<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Ashok IT</title>

<style>
.button {
	background-color: #008CBA;; /* Green */
	border: none;
	color: white;
	padding: 10px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
}
</style>

</head>
<body>

	<img alt="ashokit" src="/images/Logo.jpeg" height="80" width="250">

	<form th:action="@{/book}" th:object="${book}" method="POST">
		<table>
			<tr>
				<td>Book Name</td>
				<td><input type="text" th:field="*{bookName}" /></td>
			</tr>
			<tr>
				<td>Author Name</td>
				<td><input type="text" th:field="*{authorName}" /></td>
			</tr>
			<tr>
				<td>Book Price</td>
				<td><input type="text" th:field="*{bookPrice}" /></td>
			</tr>
			<tr>
				<td></td>
				<td><input type="submit" value="Submit" class="button"/></td>
			</tr>
		</table>
	</form>
	
	<a href="viewBooks">View All Books</a>
	
	
	<div>
		<p> Contact Us : +91 - 9985 39 6677 </p>
	</div>
</body>
</html>